
PinturasPerfecta/.vs/PinturasPerfecta/v16/.suo
*.exe
PinturasPerfecta/PinturasPerfecta/bin/Debug/app.publish/Pinturas Perfecta.exe
PinturasPerfecta/PinturasPerfecta/bin/Debug/Pinturas Perfecta.exe.manifest
PinturasPerfecta/PinturasPerfecta/obj/Debug/Pinturas Perfecta.application
PinturasPerfecta/PinturasPerfecta/obj/Debug/Pinturas Perfecta.exe.manifest
PinturasPerfecta/PinturasPerfecta/obj/Debug/PinturasPerfecta.csproj.CoreCompileInputs.cache
PinturasPerfecta/PinturasPerfecta/obj/Debug/PinturasPerfecta.csprojAssemblyReference.cache
